.prodDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.prodDetails .prodDetailsImg>img {
    width: 200px;
    height: 300px;
}

.prodDetails .prodDetailsDesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

@media(max-width: 767px) {
    .prodDetails {
        height: 600px;
        margin: 5px;
        margin-top: 10px;
    }
}
@media(max-width: 425px) {
    .prodDetails {
        height: 700px;
    }
}